.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.board {
  height: 100%;
}

.title-row {
  margin-bottom: 0.5rem;
}

.issue-row {
  height: 100%;
}

.issue-col {
  border-left: 1px groove rgba(128, 128, 128, 0.26);
  border-right: 1px groove rgba(128, 128, 128, 0.26);
  margin: 1px;
}

h4 {
  text-align: center;
}

.hover-pointer:hover {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}

.row-bg {
  background-color: rgba(253, 212, 98, 0.363);
}

#navlogo {
  font-family: 'Kaushan Script', cursive;
}

#logotext {
  font-size: 2rem;
  color: white;
}

#projects-dropdown-toggle {
  min-width: 12rem;
  /* height: 1.1rem; */
}

.drop-container {
  border: 2px rgba(128, 128, 128, 0.521) dashed;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.drop-container:hover {
  cursor: pointer;
  border-color: rgba(128, 128, 128);
}

.thumb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1;
}

.thumb {
  display: inline-flex;
  border-radius: 2px;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 100px;
  height: 100px;
  padding: 4px;
  box-sizing: border-box;
}

.thumb-inner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.prev {
  display: block;
  width: auto;
  height: 100%;
}

.attachment-icon-container:focus {
  border-color: inherit;
  outline: none;
  box-shadow: none;
}

.attachment-icon-container:active {
  border-color: inherit;
  outline: none;
  box-shadow: none;
}

.attachment-icon {
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

.attachment-icon-container {
  display: flex;
  justify-content: space-around;
}

.font-sm {
  font-size: 0.9rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
