.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.board {
  height: 100%;
}

.title-row {
  margin-bottom: 0.5rem;
}

.issue-col {
  height: calc(100vh - 144px);
  border-left: 1px groove rgba(128, 128, 128, 0.26);
  border-right: 1px groove rgba(128, 128, 128, 0.26);
  margin: 1px;
  overflow-y: scroll;
  padding-right: 20px;
  -ms-overflow-style: none;
}

.issue-col::-webkit-scrollbar {
  display: none;
}

.overflow {
  overflow: scroll;
}

h4 {
  text-align: center;
}

.hover-pointer:hover {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}

.row-bg {
  background-color: rgba(253, 212, 98, 0.363);
}

#navlogo {
  font-family: 'Kaushan Script', cursive;
}

#logotext {
  font-size: 2rem;
  color: white;
}

#projects-dropdown-toggle {
  min-width: 12rem;
  /* height: 1.1rem; */
}

.drop-container {
  border: 2px rgba(128, 128, 128, 0.521) dashed;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.drop-container:hover {
  cursor: pointer;
  border-color: rgba(128, 128, 128);
}

.thumb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1;
}

.thumb {
  display: inline-flex;
  border-radius: 2px;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 100px;
  height: 100px;
  padding: 4px;
  box-sizing: border-box;
}

.thumb-inner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.prev {
  display: block;
  width: auto;
  height: 100%;
}

.attachment-icon-container:focus {
  border-color: inherit;
  outline: none;
  box-shadow: none;
}

.attachment-icon-container:active {
  border-color: inherit;
  outline: none;
  box-shadow: none;
}

.attachment-icon {
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

.attachment-icon-container {
  display: flex;
  justify-content: space-around;
}

.font-sm {
  font-size: 0.9rem;
}

.font-bg {
  font-size: 1.4rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.534);
  z-index: 1000;
}

.switch-wrap {
  margin: 0;
  cursor: pointer;
  width: 40px;
  height: 22px;
}

.switch-wrap input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  transition: 0.3s;
  padding: 2px;
  border-radius: 11px;
  border: 1px #6c757d solid;
}

.switch::after {
  content: '';
  border-radius: 50%;
  background: #6c757d;
  grid-column: 2;
  transition: 0.3s;
}

input:checked + .switch {
  grid-template-columns: 1fr 1fr 0fr;
  border: 1px #007bff solid;
}

input:checked + .switch::after {
  background-color: #007bff;
}
